repos:

- repo: https://github.com/adrienverge/yamllint
  rev: v1.31.0
  hooks:
  - id: yamllint
    args:
    - -c
    - ".github/linters/lint.yaml"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-executables-have-shebangs

- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
  - id: black

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: forbid-crlf
  - id: forbid-tabs

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
    - id: shellcheck
      language: script
      args: [--severity=error]
      additional_dependencies: []

- repo: https://github.com/sirosen/texthooks
  rev: 0.5.0
  hooks:
    - id: fix-smartquotes
    - id: fix-ligatures

- repo: https://github.com/k8s-at-home/sops-pre-commit
  rev: v2.1.1
  hooks:
  - id: forbid-secrets
