image:
  repository: ghcr.io/paperless-ngx/paperless-ngx
  tag: 1.13.0

podAnnotations:
  secret.reloader.stakater.com/reload: paperless-secrets

env:
  COMPOSE_PROJECT_NAME: paperless
  PAPERLESS_CONSUMER_POLLING: "60"
  PAPERLESS_CONSUMER_RECURSIVE: "true"
  PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
  PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
  PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_X_AUTH_REQUEST_EMAIL
  PAPERLESS_OCR_LANGUAGES: ita
  PAPERLESS_OCR_LANGUAGE: ita
  PAPERLESS_PORT: 8000
  PAPERLESS_REDIS: redis://redis.redis-system.svc.cluster.local:6379
  PAPERLESS_TASK_WORKERS: 2
  PAPERLESS_TIME_ZONE: "Europe/Rome"
  PAPERLESS_URL: https://paperless.raelix.com
  USERMAP_GID: 65543
  PAPERLESS_ADMIN_USER:
    valueFrom:
      secretKeyRef:
        name: paperless-secrets
        key: PAPERLESS_ADMIN_USER
  PAPERLESS_ADMIN_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: paperless-secrets
        key: PAPERLESS_ADMIN_PASSWORD
  PAPERLESS_SECRET_KEY:
    valueFrom:
      secretKeyRef:
        name: paperless-secrets
        key: PAPERLESS_SECRET_KEY

service:
  main:
    ports:
      http:
        port: 8000

ingress:
  main:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      auth.home.arpa/enabled: "true"
    hosts:
      - host: &host "paperless.raelix.com"
        paths:
          - path: /
    tls:
      - hosts:
          - *host

persistence:
  data:
    enabled: true
    retain: true
    size: 2Gi
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /usr/src/paperless/data
  media:
    enabled: true
    retain: true
    size: 2Gi
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /usr/src/paperless/media
  consume:
    enabled: true
    retain: true
    size: 2Gi
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /usr/src/paperless/consume
  export:
    enabled: true
    retain: true
    size: 2Gi
    type: pvc
    accessMode: ReadWriteOnce
    mountPath: /usr/src/paperless/export

resources:
  requests:
    cpu: 23m
    memory: 2975M
  limits:
    memory: 6572M