image:
  repository: ghcr.io/blakeblackshear/frigate
  tag: stable
ingress:
  # -- Enables the use of an Ingress Controller to front the Service and can provide HTTPS
  enabled: true

  # -- annotations to configure your Ingress. See your Ingress Controller's Docs for more info.
  # annotations: {}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/auth-url: "https://oauth2-proxy.raelix.com/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signin: "https://oauth2-proxy.raelix.com/oauth2/start"
    nginx.ingress.kubernetes.io/auth-response-headers: "x-auth-request-user, x-auth-request-email"
    ingress.kubernetes.io/force-ssl-redirect: "true"
    ingress.kubernetes.io/proxy-body-size: "1024m"
    nginx.ingress.kubernetes.io/proxy-body-size: "1024m"

  hosts:
    - host: &host "frigate.raelix.com"
      paths:
        - '/'

  tls:
  - hosts:
    - *host

envFromSecrets:
  - frigate-rstp-credentials

config: |
    mqtt:
      enabled: True
      host: emqx-listeners.message.svc.cluster.local
      user: '{FRIGATE_MQTT_USER}'
      password: '{FRIGATE_MQTT_PASSWORD}'

    go2rtc:
      streams:
        ingresso:
          - "rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.197:554/stream1"
          - "ffmpeg:ingresso#audio=opus"
        soggiorno:
          - "rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.151:554/stream1"
          - "ffmpeg:soggiorno#audio=opus"

    cameras:
      ingresso:
        zones:
          entrata:
            coordinates: 1100,258,1150,720,603,720,620,289
        objects:
          track:
          - person
          filters:
            person:
              # min_area: 2000
              # max_area: 100000
              min_score: 0.7
              threshold: 0.8
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/ingresso
              roles:
                - detect
                - record
        detect:
          width: 1280
          height: 720
          fps: 5

      soggiorno:
        zones:
          divano:
            coordinates: 0,279,0,487,133,556,343,566,354,427,589,412,593,286,596,154,114,163
          cucina:
            coordinates: 853,108,1087,129,1214,159,1280,172,1280,519,1192,668,1203,720,920,720,780,594,690,382,704,106
        objects:
          track:
          - person
          filters:
            person:
              min_area: 500
              max_area: 100000
              threshold: 0.7
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/soggiorno
              roles:
                - detect
                # - record
        detect:
          # width: 1280
          # height: 720
          fps: 5

    objects:
      track:
      - person

      # filters:
      #   person:
      #     min_score: 0.7
      #     threshold: 0.75

    detectors:
      cpu1:
        type: cpu
      cpu2:
        type: cpu

    record:
      enabled: True
      events:
        retain:
          default: 10
