image:
  repository: b4bz/homer
  tag: latest

# podAnnotations:
#   secret.reloader.stakater.com/reload: home-assistant-secrets

service:
  main:
    type: ClusterIP
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.${DOMAIN}/oauth2/auth
      nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.${DOMAIN}/oauth2/start
      nginx.ingress.kubernetes.io/auth-response-headers: "x-auth-request-user, x-auth-request-email"
      ingress.kubernetes.io/force-ssl-redirect: "true"
      ingress.kubernetes.io/proxy-body-size: "1024m"
      nginx.ingress.kubernetes.io/proxy-body-size: "1024m"
      external-dns.home.arpa/enabled: "true"
    hosts:
      - host: portal.${DOMAIN}
        paths:
          - path: /
    tls:
      - hosts:
          - portal.${DOMAIN}

persistence:
  configuration:
    enabled: true
    type: configMap
    name: portal-configuration
    key: config.yml
    defaultMode: 0777
    subPath:
      - path: config.yml
        mountPath: /www/assets/config.yml

probes:
  liveness:
    enabled: false
  readiness:
    enabled: false
  startup:
    enabled: false

resources:
  requests:
    cpu: 126m
    memory: 411M
  limits:
    memory: 4417M