image:
  repository: n8nio/n8n
  tag: 0.218.0

service:
  main:
    type: ClusterIP
    ports:
      http:
        port: 443

ingress:
  main:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      external-dns.home.arpa/enabled: "true"
    hosts:
      - host: &host "n8n.raelix.com"
        paths:
          - path: /
    tls:
      - hosts:
          - *host

env:
  N8N_PORT: 443
  N8N_USER_FOLDER: /config
  N8N_PROTOCOL: https
  N8N_HOST: *host
  N8N_EDITOR_BASE_URL: https://n8n.raelix.com

persistence:
  config:
    enabled: true
    existingClaim: n8n-data
    mountPath: /config

probes:
  liveness:
    enabled: false
  readiness:
    enabled: false
  startup:
    enabled: false

resources:
  requests:
    cpu: 126m
    memory: 411M
  limits:
    memory: 4417M
